<!-- <button mat-button  routerLink="/">Home</button>
<button mat-button  routerLink="/new">New</button> -->
<!-- <mat-toolbar *ngIf="currentUser">
        <div fxLayout="row" fxLayoutAlign="space-around center" >

                <button mat-button disabled>BREAD</button>
                <button mat-button (click)="logout()" style="text-align: right;">Logout</button>

              </div>


</mat-toolbar> -->

<mat-toolbar *ngIf="currentUser" color = "white">
        <span class = "gap">BREAD</span>
        <span class = "filler"></span>

        <span>

                
                <button mat-button (click)="logout()">Logout</button>

            
        </span>

     </mat-toolbar>


<router-outlet></router-outlet>